.classpath
.metadata
.project
.settings
.springBeans
*.bak
*local.properties
target
test-output
Servers
*.log
*.log.*
*.dat
_sql
service-log4j.log.*
*.orig
*.dmp
*/bin/
.ssh/
.gitk
.gitconfig
*.DS_Store
